$size__site-main: 100%;
$size__site-sidebar: 20%;

$site__margin_left: 50px;
$site__margin_right: 50px;

$site__small_margin: 20px;

$responsive__medium_width: 1064px;
$responsive__small_width: 767px;
